.cabecera {
  width: 100%;
  position: static;
  transition: all 0.5s;
  padding: 4rem 0 1rem 0;
  background-color: $color-fondo;

  &.fixed {
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.67843);
    position: fixed;
    top: 0;
    padding: 0;

    &:hover {
      box-shadow: unset;
    }
  }
}
