.cv-seccion {
  margin: 4rem 2rem;
  padding: 2rem 0.5rem;
  text-align: center;
  box-shadow: 3px 3px 0 4px $color-sombra;
  background-color: $color-fondo-resalte;

  .cv-seccion__separador {
    height: 1px;
    margin: 1rem 0;
    background: linear-gradient(90deg, $color-fondo, $color-sombra 50%, $color-fondo);
  }
}

@media (max-width: 675px) {
  .cv-seccion {
    margin: 4rem 0;
  }
}
